body{background:#eee}
.loading{position:absolute;top:50%;left:50%;width:300px;margin-left:-150px}
section#body{padding:50px 0 30px;background:#fff}
footer{padding:30px 0;color:#999;font-size:12px}
div.appAlerts{position:fixed;top:20px;right:20px;z-index:1200;width:90%;max-width:300px}
.form-group.multiple{margin-bottom:0}
input.ng-invalid.ng-dirty,textarea.ng-invalid.ng-dirty,select.ng-invalid.ng-dirty{border-color:#b94a48;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);}
input.ng-invalid.ng-dirty:focus,textarea.ng-invalid.ng-dirty:focus,select.ng-invalid.ng-dirty:focus{border-color:#a74240;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #c1605e;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #c1605e}
.gutter-top{margin-top:15px}
.gutter-bottom{margin-bottom:15px}
.ng-cloak{display:none}
